{{stylesheets '/css/notes/note'}}
{{javascripts '/js/public/jquery-1.8.2.min.js'}}


<div class="main clearfix">
    {{> sidebar 0}}
    <div class="left wrap">
        <div class="module making">
            <div class="module-hd">
                <span class="cur">我的智作</span>
                <span>智作我的精彩</span>
            </div>
            <div class="module-bd clearfix">
                <ul class="left function clearfix">
                    <li>
                        <img src="images/notes/index-zz1.png" alt="">
                        <p>创作新篇</p>
                    </li>
                    <li>
                        <img src="images/notes/index-zz2.png" alt="">
                        <p>报告演示</p>
                    </li>
                    <li>
                        <img src="images/notes/index-zz3.png" alt="">
                        <p>课堂设计</p>
                    </li>
                    <li>
                        <img src="images/notes/index-zz4.png" alt="">
                        <p>试卷制作</p>
                    </li>
                    <li>
                        <img src="images/notes/index-zz5.png" alt="">
                        <p>成果展示</p>
                    </li>
                    <li>
                        <img src="images/notes/index-zz6.png" alt="">
                        <p>知书制作</p>
                    </li>
                    <li>
                        <img src="images/notes/index-zz7.png" alt="">
                        <p>作品编创</p>
                    </li>
                    <li>
                        <img src="images/notes/index-zz8.png" alt="">
                        <p>调查问卷</p>
                    </li>
                </ul>
                <div class="right news">
                    <div class="title clearfix">
                        <span class="left">最新智作</span>
                        <a href="" class="right more">查看更多 >></a>
                    </div>
                    <div class="list">
                        <ul>
                            <li><a href="" target="_blank">•【报告】企业员工心态管理企业员企业员工心态管理</a></li>
                            <li><a href="" target="_blank">•【报告】企业员工心态管理企业员企业员工心态管理</a></li>
                            <li><a href="" target="_blank">•【报告】企业员工心态管理企业员企业员工心态管理</a></li>
                            <li><a href="" target="_blank">•【报告】企业员工心态管理企业员企业员工心态管理</a></li>
                            <li><a href="" target="_blank">•【报告】企业员工心态管理企业员企业员工心态管理</a></li>
                            <li><a href="" target="_blank">•【报告】企业员工心态管理企业员企业员工心态管理</a></li>
                            <li><a href="" target="_blank">•【报告】企业员工心态管理企业员企业员工心态管理</a></li>
                            <li><a href="" target="_blank">•【报告】企业员工心态管理企业员企业员工心态管理</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="module note">
            <div class="module-hd">
                <span class="cur">我的笔记</span>
                <span>记录我的智慧</span>
                <a href="" class="right btn">进入我的笔记</a>
            </div>
            <div class="module-bd">
                <div class="notelist clearfix">
                    <div class="left newCreate tc">
                        <img src="images/notes/icon1.png" alt="">
                        <p>新建笔记</p>
                    </div>
                    <div class="left list">
                        <div class="title clearfix">
                            <h4>最新笔记</h4>
                            <a href="" class="right more">更多 ></a>
                        </div>
                        <ul>
                            <li><a href="">1&nbsp;&nbsp;专注于文档在线创作专注于文档在线创作专注于文档在线创作专注于文档在线创作</a></li>
                            <li><a href="">2&nbsp;&nbsp;红楼梦分析</a></li>
                            <li><a href="">3&nbsp;&nbsp;红楼梦分析</a></li>
                            <li><a href="">4&nbsp;&nbsp;红楼梦分析</a></li>
                        </ul>
                    </div>
                    <div class="left list list2">
                        <div class="title clearfix">
                            <h4>标星笔记</h4>
                            <a href="" class="right more">更多 ></a>
                        </div>
                        <ul>
                            <li><a href="">1&nbsp;&nbsp;专注于文档在线创作专注于文档在线创作专注于文档在线创作专注于文档在线创作</a></li>
                            <li><a href="">2&nbsp;&nbsp;红楼梦分析</a></li>
                            <li><a href="">3&nbsp;&nbsp;红楼梦分析</a></li>
                            <li><a href="">4&nbsp;&nbsp;红楼梦分析</a></li>
                        </ul>
                    </div>
                </div>
                <div class="notebook">
                    <ul>
                        <li><img src="images/notes/notebook-new.png" width="147" height="180" alt=""></li>
                        <li class="template1"><i></i><img src="images/notes/notebook1.png" width="147" height="180" alt=""><span class="title">旅行一直在路上</span></li>
                        <li  class="template2"><i></i><img src="images/notes/notebook2.png" width="147" height="180" alt=""><span class="title">旅行一直在路上</span></li>
                        <li  class="template3"><i></i><img src="images/notes/notebook3.png" width="147" height="180" alt=""><span class="title">旅行一直在路上</span></li>
                        <li  class="template4"><i></i><img src="images/notes/notebook4.png" width="147" height="180" alt=""><span class="title">旅行一直在路上</span></li>
                        <li class="last"><img src="images/notes/notebook-more.png" width="147" height="180" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 左右高度自适应
    var sHeight=$('.sidebar').height();
    var cHeight=$('.wrap').height();
    var arrHeight=[sHeight,cHeight];
    var maxHeight=Math.max.apply(null,arrHeight);
    $('.sidebar').height(maxHeight);
    $('.wrap').height(maxHeight);
</script>