{{stylesheets '../../css/notes/note'}}
{{javascripts '../../js/public/placeholder.js'}}

<div class="main clearfix">
	{{> sidebar 0}}
	<div class="left wrap noteWrap">
		<div class="module mynote">
			<div class="module-hd">
				<div class="left tabnav">
					<span class="cur">笔记</span>
					<span>笔记本</span>
				</div>
				<div class="right search clearfix">
					<div class="left dropdown">
						<p>网页摘记</p>
						<ul>
							<li><a href="javascript:;">网页摘记</a></li>
							<li><a href="javascript:;">网页摘记</a></li>
							<li><a href="javascript:;">网页摘记</a></li>
						</ul>
					</div>
					<div class="left searchbox clearfix">
						<input type="text" placeholder="查找笔记">
						<input type="button">
					</div>
				</div>
			</div>
			<div class="module-bd">
				<div class="filter">
					<label class="cur"><input type="radio" name="note" checked>全部笔记</label>
					<label><input type="radio" name="note">标星笔记</label>
				</div>
				<div class="notelist clearfix">
					<div class="item new">
						新建笔记
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="" target="_blank">知乎上45个神回复知乎上45个神回复知乎上45个神回复</a></h4>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复知乎上45个神回复知乎上45个神回复</a></h4>
							<i class="audio"></i>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
							<i class="web"></i>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
							<i class="pic"></i>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
							<i class="video"></i>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
					<div class="item">
						<div class="title clearfix">
							<h4><a href="">知乎上45个神回复</a></h4>
						</div>
						<dl>
							<dt>
								<p>交朋友的标准是什么？交朋友的标准是么？交朋友的标准是什么？或者正常…</p>
								<span class="date">2017-12-07</span>
							</dt>
							<dd>
								<a href="" target="_blank"><img src="../imagesTemp/notes/mynote-img.jpg" width="60" height="60" alt=""></a>
							</dd>
						</dl>
					</div>
				</div>
				<div class="page tc">
					<a href="" class="cur">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<span>...</span>
					<a href="">下一页</a>
					<a href="">尾页</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	// 左右高度自适应 
	var sHeight=$('.sidebar').height();
	var cHeight=$('.wrap').height();
	var arrHeight=[sHeight,cHeight];
	var maxHeight=Math.max.apply(null,arrHeight);
	$('.sidebar').height(maxHeight);
	$('.wrap').height(maxHeight);

	// 下拉
	$('.dropdown p').mouseenter(function () {
		$(this).siblings('ul').slideDown(200);
	});
	$('.dropdown').mouseleave(function () {
		$(this).find('ul').slideUp(200);
	});

	// 单选按钮更改样式
	$('.mynote .filter label input').change(function () {
		$(this).parent().addClass('cur').siblings().removeClass('cur');
	});

	// 遮罩层
	var $mask=$('<div class="mask"></div>');
	$('<p></p>').html('取消标星').appendTo($mask);
	$('.mynote .notelist .item:not(.new)').hover(function () {
		$(this).append($mask);
	},function () {
		$(this).find('.mask').remove();
	})

</script>
