{{stylesheets '../../css/notes/note'}}
{{javascripts '../../js/public/placeholder.js'}}

<div class="main clearfix">
	{{> sidebar 0}}
	<div class="left wrap noteWrap">
		<div class="module mynotebook">
			<div class="module-hd">
				<div class="left tabnav">
					<span>笔记</span>
					<span class="cur">笔记本</span>
				</div>
				<div class="right search clearfix">
					<div class="left searchbox clearfix">
						<input type="text" placeholder="查找笔记本">
						<input type="button">
					</div>
				</div>
				<a href="" class="right createBtn">新建笔记</a>
			</div>
			<div class="module-bd pd0">
				<div class="category clearfix">
					<div class="left list">
						<h4 class="left">全部笔记本（21）</h4>
						<a href="javascript:;" class="left addbtn tc">+</a>
						<span class="item">未分类</span>
						<span class="item">图片整理</span>
						<span class="item cur">英语每日一练</span>
						<span class="item">产品知识积累</span>
						<span class="item">绘画基础练习练习</span>
						<span class="item">绘画基础练习</span>
						<span class="item">绘画基础练习</span>
						<span class="item">绘画基础练习</span>
						<span class="item">绘画基础练习</span>
					</div>
					<a href="javascript:;" class="left foldbtn"></a>
					<a href="javascript:;" class="left editbtn tc">编辑</a>
				</div>
				<div class="notebookList clearfix">
					<div class="item new"></div>
					<div class="item">
						<h2>小学教育</h2>
						<p>3 篇笔记</p>
						<div class="action">
							<span class="edit"></span>
							<span class="del"></span>
						</div>
					</div>
					<div class="item">
						<h2>旅行一直在路上</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>小学教育</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>旅行一直在路上</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>小学教育</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>小学教育</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>小学教育</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>旅行一直在路上</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>小学教育</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>小学教育</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>小学教育</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>旅行一直在路上</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>小学教育</h2>
						<p>3 篇笔记</p>
					</div>
					<div class="item">
						<h2>小学教育</h2>
						<p>3 篇笔记</p>
					</div>
				</div>
				<div class="page tc">
					<a href="" class="cur">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<span>...</span>
					<a href="">下一页</a>
					<a href="">尾页</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	// 左右高度自适应 
	var sHeight=$('.sidebar').height();
	var cHeight=$('.wrap').height();
	var arrHeight=[sHeight,cHeight];
	var maxHeight=Math.max.apply(null,arrHeight);
	$('.sidebar').height(maxHeight);
	$('.wrap').height(maxHeight);

	// 下拉
	$('.dropdown p').mouseenter(function () {
		$(this).siblings('ul').slideDown(200);
	});
	$('.dropdown').mouseleave(function () {
		$(this).find('ul').slideUp(200);
	});


	var category=$('.mynotebook .category');
	var editBtn=category.find('.editbtn');
	var delBtn=category.find('.delbtn');
	var addBtn=category.find('.addbtn');
	var saveBtn=category.find('.savebtn');
	var foldBtn=category.find('.foldbtn');

	// 编辑
	editBtn.on('click',function () {
		var item=$(this).siblings('.list').children('.item');
		item.append('<span class="delbtn"></span>');
		
	});

	// 删除
	category.on('click','.delbtn',function () {
		$(this).parent('.item').remove();
	});

	// 添加
	addBtn.on('click',function () {
		var addbox=$('<span class="item active"><input type="text"/><span class="savebtn"></span></span>');
		$(this).after(addbox);
	});

	// 保存
	category.on('click','.savebtn',function () {
		var val=$(this).siblings().val();
		if(val!=''){
			$(this).parent('.item').removeClass('active').html(val);
		}
	});

	// 展开折叠
	var k=0;
	foldBtn.click(function () {
		if(k==0){
			$(this).addClass('unfoldbtn').siblings('.list').css('height','auto');
			k=1;
		}else if(k==1){
			$(this).removeClass('unfoldbtn').siblings('.list').css('height','36px');
			k=0;
		}
	});

</script>