{{stylesheets '../../css/notes/note'}}
{{javascripts '../../js/public/placeholder.js'}}

<div class="notebookPage">
    <div class="banner">
        <div class="w1305pxAuto">
            <div class="topnav clearfix">
                <div class="left breadcrumb">
                    <a href="">笔记本</a>&gt;<a href="">红楼梦的研究素材</a>
                </div>
                <a class="right btn" href="javascript:;">+ 新建笔记</a>
            </div>
            <div class="title">2018年的4个主要的LOGO设计趋势</div>
            <div class="clearfix">
                <div class="left tag clearfix">
                    <span>全部</span>
                    <span>大智作</span>
                    <span>全部</span>
                    <span>全部</span>
                </div>
                <div class="right searchbox clearfix">
                    <input type="text" placeholder="查找笔记">
                    <input type="button">
                </div>
            </div>
        </div>
    </div>
    <div class="container w1305pxAuto">
        <div class="topbg"></div>
        <div class="mainWrap clearfix">
            <div class="left menu">
                <div class="list detail">
                    <div class="item spec clearfix">
                        <div class="left content">
                            <h4><a href="">ofo和摩拜会合并吗？</a></h4>
                            <p class="time">2017-12-07  12：21：20</p>
                        </div>
                    </div>
                    <div class="item spec clearfix">
                        <div class="left content">
                            <h4><a href="">ofo和摩拜会合并吗？</a></h4>
                            <p class="time">2017-12-07  12：21：20</p>
                        </div>
                    </div>
                    <div class="item spec clearfix">
                        <div class="left content">
                            <h4><a href="">ofo和摩拜会合并吗？</a></h4>
                            <p class="time">2017-12-07  12：21：20</p>
                        </div>
                    </div>
                    <div class="item spec clearfix">
                        <div class="left content">
                            <h4><a href="">ofo和摩拜会合并吗？</a></h4>
                            <p class="time">2017-12-07  12：21：20</p>
                        </div>
                    </div>
                    <div class="item spec clearfix">
                        <div class="left content">
                            <h4><a href="">ofo和摩拜会合并吗？</a></h4>
                            <p class="time">2017-12-07  12：21：20</p>
                        </div>
                    </div>
                    <div class="item spec clearfix">
                        <div class="left content">
                            <h4><a href="">ofo和摩拜会合并吗？</a></h4>
                            <p class="time">2017-12-07  12：21：20</p>
                        </div>
                    </div>
                    <div class="item spec clearfix">
                        <div class="left content">
                            <h4><a href="">ofo和摩拜会合并吗？</a></h4>
                            <p class="time">2017-12-07  12：21：20</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="left dropdown">
                        <p>详细</p>
                        <ul>
                            <li><a href="javascript:;">详细</a></li>
                            <li><a href="javascript:;">简洁</a></li>
                        </ul>
                    </div>
                    <div class="right page tc mg0">
                        <a class="bd0" href="">&lt;</a>
                        <a href="" class="cur">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <a href="">5</a>
                        <a class="bd0" href="">&gt;</a>
                    </div>
                </div>
            </div>
            <div class="right article">
                <div class="title">2018年的4个主要的LOGO 设计趋势</div>
                <div class="info clearfix">
                    <span class="left name">dachengbianke</span>
                    <span class="left time">2017-10-31  12:12:32</span>
                    <div class="right handle clearfix">
                        <span class="btn">编辑</span>
                        <span class="btn">权限</span>
                        <span class="share"></span>
                        <span class="collect"></span>
                        <span class="dot dropdown">
                            <p></p>
                            <ul>
                                <li><a href="javascript:;">转移到</a></li>
                                <li><a href="javascript:;">导出为Word</a></li>
                                <li><a href="javascript:;">打印</a></li>
                                <li><a href="javascript:;">删除</a></li>
                                <li><a href="javascript:;">导出为pdf</a></li>
                                <li><a href="javascript:;">导出为htm</a></li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="chapter">
                    <p><img src="../imagesTemp/notes/notebook-pic.jpg" alt=""></p>
                    <p>对于设计师而言，LOGO设计可能是最有趣也是最令人沮丧的设计项目之一，它是设计中四两拨千金的关键，也是易学难成的设计重难点。LOGO设计的这种独特特性，源自于它所承载的重要责任和“简单”外观所构成的反差。好的LOGO设计不仅包含切题的隐喻，直观的形象，还能够恰到好处地迎合需求，跟随潮流。这也是为什么设计师一方面在追求LOGO设计的持久生命力，一方面还在跟随LOGO设计的总体趋势。</p>
                    <p>LOGO设计从技术到风格都是在逐步演进的，这一点毋庸置疑。去年的LOGO设计和今年的流行趋势还有着区别，虽然客户的要求变化不大，但是你会明显的感受到最新的LOGO设计越来越讲究简约干净的线条和颜色以及吸引人的排版了。纵观过去半年新的LOGO设计作品，我们基本上可以总结出2017年的4个主要的LOGO 设计趋势。</p>
                    <p>LOGO的类型有很多，其中之一是采用文字为主的LOGO设计，就像 NASA 和乐高的LOGO。而进入2017年之后，文字 LOGO 设计开始倾向于使用更加微妙、精致细腻的字体设计。</p>
                    <p>优秀的字体LOGO有着持久的生命力。</p>
                </div>
                <div class="bottombar clearfix">
                    <a href="javascript:;" class="left prev">上一篇</a>
                    <a href="javascript:;" class="right next">下一篇</a>
                </div>
            </div>
        </div>
        <div class="bottombg"></div>
    </div>
</div>
<script>
    // 左右高度自适应
    var sHeight=$('.sidebar').height();
    var cHeight=$('.wrap').height();
    var arrHeight=[sHeight,cHeight];
    var maxHeight=Math.max.apply(null,arrHeight);
    $('.sidebar').height(maxHeight);
    $('.wrap').height(maxHeight);
</script>