<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="../css/public/global.css">
		<link rel="stylesheet" href="../css/public/public.css">
		<link rel="stylesheet" href="../css/notes/note.css">
	</head>
	<body>
		<div class="modalbg"></div>
		<div class="modal modal2">
			<div class="modal-hd">
				权限
				<a href="javascript:;" class="close"></a>
			</div>
			<div class="modal-bd">
				<h4>绿色蔬菜出口加工项目可行性研究报告</h4>
				<p><label><input type="radio" name="authority">公开</label><span>任何人均可查看</span></p>
				<p>
					<label><input type="radio" name="authority">加密</label>
					<span>仅限拥有密码者查看，更加隐私安全</span>
				</p>
				<p class="p1"><span>访问密码</span><input type="text"></p>
				<p><label><input type="radio" name="authority">私密</label><span>仅自己可见</span></p>
			</div>
			<div class="modal-ft clearfix">
				<label><input type="checkbox">显示在我的个人主页</label><button>确定</button>
			</div>
		</div>
	</body>
</html>