<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="../css/public/global.css">
		<link rel="stylesheet" href="../css/public/public.css">
		<link rel="stylesheet" href="../css/notes/note.css">
	</head>
	<body>
		<div class="modalbg"></div>
		<div class="modal modal3">
			<div class="modal-hd">
				分享
				<a href="javascript:;" class="close"></a>
			</div>
			<div class="modal-bd">
				<ul>
					<li>
						<img src="../images/notes/share-icon1.png" alt="">
						<p>QQ空间</p>
					</li>
					<li>
						<img src="../images/notes/share-icon2.png" alt="">
						<p>QQ好友</p>
					</li>
					<li>
						<img src="../images/notes/share-icon3.png" alt="">
						<p>微信好友</p>
					</li>
					<li>
						<img src="../images/notes/share-icon4.png" alt="">
						<p>新浪微博</p>
					</li>
					<li>
						<img src="../images/notes/share-icon7.png" alt="">
						<p>复制链接</p>
					</li>
					<li>
						<img src="../images/notes/share-icon8.png" alt="">
						<p>更多分享</p>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>