<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="../css/public/global.css">
		<link rel="stylesheet" href="../css/public/public.css">
		<link rel="stylesheet" href="../css/notes/note.css">
	</head>
	<body>
		<div class="modalbg"></div>
		<div class="modal modal1">
			<div class="modal-hd">
				新建笔记本
				<a href="javascript:;" class="close"></a>
			</div>
			<div class="modal-bd">
				<div class="row row1">
	            	<b>名称</b>
	                <div class="frame">
	                	<input type="text">
	                </div>
	            </div>
	            <div class="row row2">
	            	<b>封面</b>
	                <div class="frame clearfix">
						<div class="item uplaod"></div>
						<div class="item">
							<img src="../imagesTemp/notes/cover.jpg" width="101" height="132" alt="">
							<div class="staple"></div>
						</div>
						<div class="item">
							<img src="../imagesTemp/notes/cover.jpg" width="101" height="132" alt="">
							<div class="staple"></div>
						</div>
						<div class="item">
							<img src="../imagesTemp/notes/cover.jpg" width="101" height="132" alt="">
							<div class="staple"></div>
						</div>
						<div class="item">
							<img src="../imagesTemp/notes/cover.jpg" width="101" height="132" alt="">
							<div class="staple"></div>
						</div>
						<div class="item">
							<img src="../imagesTemp/notes/cover.jpg" width="101" height="132" alt="">
							<div class="staple"></div>
						</div>
						<div class="item">
							<img src="../imagesTemp/notes/cover.jpg" width="101" height="132" alt="">
							<div class="staple"></div>
						</div>
						<div class="item">
							<img src="../imagesTemp/notes/cover.jpg" width="101" height="132" alt="">
							<div class="staple"></div>
						</div>
	                </div>
	            </div>
	            <div class="row row3">
	            	<b>权限</b>
	                <div class="frame">
						<p><label><input type="radio" name="authority">公开</label><span>任何人均可查看</span></p>
						<p>
							<label><input type="radio" name="authority">加密</label>
							<span>仅限拥有密码者查看，更加隐私安全</span>
						</p>
						<p class="p1"><span>访问密码</span><input type="text"></p>
						<p><label><input type="radio" name="authority">私密</label><span>仅自己可见</span></p>
	                </div>
	            </div>
			</div>
			<div class="modal-ft tc">
				<button class="btn-green">确定</button>
				<button class="btn-white">取消</button>
			</div>
		</div>
	</body>

</html>