<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="../css/public/global.css">
		<link rel="stylesheet" href="../css/public/public.css">
		<link rel="stylesheet" href="../css/notes/note.css">
	</head>
	<body>
		<div class="modalbg"></div>
		<div class="modal modal1 modal4">
			<div class="modal-hd">
				添加标签
				<a href="javascript:;" class="close"></a>
			</div>
			<div class="modal-bd">
				<div class="tag clearfix">
					<span>蔬菜大棚技术<a href=""></a></span>
					<span>蔬菜种植研究<a href=""></a></span>
				</div>
				<div class="clearfix">
					<div class="left inputFiled">
						<span></span>
						<ul class="list">
							<li class="first">仅限12字符</li>
							<li>青菜种植</li>				
							<li>蔬菜种植技术</li>
							<li>蔬菜种植技术</li>
							<li>蔬菜种植技术</li>
							<li>蔬菜种植技术</li>
							<li>蔬菜种植技术</li>
							<li>蔬菜种植技术</li>
						</ul>
					</div>
					<button>添加</button>
					<button class="btn-grey">取消</button>
				</div>
			</div>
			<div class="modal-ft tc">
				<button>确定</button>
				<button class="btn-grey">取消</button>
			</div>
		</div>
	</body>
</html>