{{stylesheets '../../css/myInfo/profile'}}
{{stylesheets '../../css/myPage/personalHomepage'}}
<div class="banner">
	<div class="avatar">
		<img src="../imagesTemp/myPage/avatar.jpg" alt="">
	</div>
	<p class="name">叽里咕噜有一套</p>
	<a href="" class="btn">+关注</a>
</div>
<div class="main w1200pxAuto clearfix">
	<div class="left leftbar">
		<div class="item">TA的关注（203）</div>
		<div class="item">TA的粉丝（102）</div>
		<div class="item bd0 cur">个人资料</div>
	</div>
	<div class="right wrap">
		<div class="module">
			<div class="module-hd"><span>个人资料</span></div>
			<div class="module-bd">
				<div class="fans frame">
	         		<div class="item">
							<div class="avatar">
								<a href=""><img src="../imagesTemp/myPage/fans-avatar.jpg" width="80"  height="80" alt="" ></a>
							</div>
							<div class="info">
								<h4><a href="">大倪伟</a></h4>
								<p class="">关注 18   |   粉丝 56</p>
								<div class="intro">简介 矿业法律专家、中国政法大学国土资源法研究中心特邀研究员、中国地质大学法学研究生校外导师、《中国矿业报》法治作家、北京市雨仁律师事务所合伙人。</div>
							</div>
							<div class="attention">+关注</div>
					</div>
					<div class="item">
						<div class="avatar">
							<a href=""><img src="../imagesTemp/myPage/fans-avatar.jpg" width="80"  height="80" alt="" ></a>
						</div>
						<div class="info">
							<h4><a href="">大倪伟</a></h4>
							<p class="">关注 18   |   粉丝 56</p>
							<div class="intro">简介 矿业法律专家、中国政法大学国土资源法研究中心特邀研究员、中国地质大学法学研究生校外导师、《中国矿业报》法治作家、北京市雨仁律师事务所合伙人。</div>
						</div>
						<div class="attention">+关注</div>
					</div>
					<div class="item">
						<div class="avatar">
							<a href=""><img src="../imagesTemp/myPage/fans-avatar.jpg" width="80"  height="80" alt="" ></a>
						</div>
						<div class="info">
							<h4><a href="">大倪伟</a></h4>
							<p class="">关注 18   |   粉丝 56</p>
							<div class="intro">简介 矿业法律专家、中国政法大学国土资源法研究中心特邀研究员、中国地质大学法学研究生校外导师、《中国矿业报》法治作家、北京市雨仁律师事务所合伙人。</div>
						</div>
						<div class="attention">+关注</div>
					</div>
					<div class="item">
						<div class="avatar">
							<a href=""><img src="../imagesTemp/myPage/fans-avatar.jpg" width="80"  height="80" alt="" ></a>
						</div>
						<div class="info">
							<h4><a href="">大倪伟</a></h4>
							<p class="">关注 18   |   粉丝 56</p>
							<div class="intro">简介 矿业法律专家、中国政法大学国土资源法研究中心特邀研究员、中国地质大学法学研究生校外导师、《中国矿业报》法治作家、北京市雨仁律师事务所合伙人。</div>
						</div>
						<div class="attention">+关注</div>
					</div>
					<div class="item">
						<div class="avatar">
							<a href=""><img src="../imagesTemp/myPage/fans-avatar.jpg" width="80"  height="80" alt="" ></a>
						</div>
						<div class="info">
							<h4><a href="">大倪伟</a></h4>
							<p class="">关注 18   |   粉丝 56</p>
							<div class="intro">简介 矿业法律专家、中国政法大学国土资源法研究中心特邀研究员、中国地质大学法学研究生校外导师、《中国矿业报》法治作家、北京市雨仁律师事务所合伙人。</div>
						</div>
						<div class="attention">+关注</div>
					</div>
					<div class="page right">
						<a href="">首页</a>
						<a href="">上一页</a>
						<a href="">1</a>
						<a href="">2</a>
						<a href="">3</a>
						<a href="">4</a>
						<a href="">5</a>
						<span>...</span>
						<a href="">下一页</a>
						<a href="">尾页</a>
					</div>
	         	</div>
	         	<div class="fans frame">
	         		<div class="item">
							<div class="avatar">
								<a href=""><img src="../imagesTemp/myPage/fans-avatar.jpg" width="80"  height="80" alt="" ></a>
							</div>
							<div class="info">
								<h4><a href="">大倪伟</a></h4>
								<p class="">关注 18   |   粉丝 56</p>
								<div class="intro">简介 矿业法律专家、中国政法大学国土资源法研究中心特邀研究员、中国地质大学法学研究生校外导师、《中国矿业报》法治作家、北京市雨仁律师事务所合伙人。</div>
							</div>
							<div class="attention">+关注</div>
					</div>
					<div class="item">
						<div class="avatar">
							<a href=""><img src="../imagesTemp/myPage/fans-avatar.jpg" width="80"  height="80" alt="" ></a>
						</div>
						<div class="info">
							<h4><a href="">大倪伟</a></h4>
							<p class="">关注 18   |   粉丝 56</p>
							<div class="intro">简介 矿业法律专家、中国政法大学国土资源法研究中心特邀研究员、中国地质大学法学研究生校外导师、《中国矿业报》法治作家、北京市雨仁律师事务所合伙人。</div>
						</div>
						<div class="attention">+关注</div>
					</div>
					<div class="item">
						<div class="avatar">
							<a href=""><img src="../imagesTemp/myPage/fans-avatar.jpg" width="80"  height="80" alt="" ></a>
						</div>
						<div class="info">
							<h4><a href="">大倪伟</a></h4>
							<p class="">关注 18   |   粉丝 56</p>
							<div class="intro">简介 矿业法律专家、中国政法大学国土资源法研究中心特邀研究员、中国地质大学法学研究生校外导师、《中国矿业报》法治作家、北京市雨仁律师事务所合伙人。</div>
						</div>
						<div class="attention">+关注</div>
					</div>
					<div class="item">
						<div class="avatar">
							<a href=""><img src="../imagesTemp/myPage/fans-avatar.jpg" width="80"  height="80" alt="" ></a>
						</div>
						<div class="info">
							<h4><a href="">大倪伟</a></h4>
							<p class="">关注 18   |   粉丝 56</p>
							<div class="intro">简介 矿业法律专家、中国政法大学国土资源法研究中心特邀研究员、中国地质大学法学研究生校外导师、《中国矿业报》法治作家、北京市雨仁律师事务所合伙人。</div>
						</div>
						<div class="attention">+关注</div>
					</div>
					<div class="item">
						<div class="avatar">
							<a href=""><img src="../imagesTemp/myPage/fans-avatar.jpg" width="80"  height="80" alt="" ></a>
						</div>
						<div class="info">
							<h4><a href="">大倪伟</a></h4>
							<p class="">关注 18   |   粉丝 56</p>
							<div class="intro">简介 矿业法律专家、中国政法大学国土资源法研究中心特邀研究员、中国地质大学法学研究生校外导师、《中国矿业报》法治作家、北京市雨仁律师事务所合伙人。</div>
						</div>
						<div class="attention">+关注</div>
					</div>
					<div class="page right">
						<a href="">首页</a>
						<a href="">上一页</a>
						<a href="">1</a>
						<a href="">2</a>
						<a href="">3</a>
						<a href="">4</a>
						<a href="">5</a>
						<span>...</span>
						<a href="">下一页</a>
						<a href="">尾页</a>
					</div>
	         	</div>
				<div class="personalProfile frame cur">
		       	    <div class="row">
		            	<label>用户名</label>
		                <div class="display">Candy（仅自己可见）</div>
		            </div>
		            <div class="row">
		            	<label>电子邮箱</label>
		                <div class="display">3251251244512@126.com</div>
		          	</div>
	          	 	<div class="row">
		            	<label>昵称</label>
		                <div class="display">Candy</div>
		          	</div>
		            <div class="row">
		            	<label>职业</label>
		                <div class="display">老师</div>
		          	</div>
	          	 	<div class="row">
		            	<label>擅长领域</label>
		                <div class="display">学术、教育、科技、研究</div>
		          	</div>
		          	<div class="row">
		            	<label>工作单位</label>
		                <div class="display">CNKI</div>
		          	</div>
		            <div class="row itemArea">
		            	<label>个人简介</label>
		                <div class="display">探寻文学与人生的奥秘 享受文化与艺术的熏陶 交流学术与研究的经验分享顿悟与深思的妙想 </div>
		          	</div>
	         	</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('.fans .item .attention').click(function () {
		$(this).addClass('active').html('已关注&nbsp;|&nbsp;<a href="javascript:;" class="cancel">取消</a>');
	});
	$('.main .leftbar .item').click(function () {
		$(this).addClass('cur').siblings().removeClass('cur');
		var txt=$(this).html();
		$('.wrap .module-hd span').html(txt);
		$('.wrap .frame').eq($(this).index()).addClass('cur').siblings().removeClass('cur');
	});
</script>